<ion-view  view-title=" "   class="modal cart cartmodal" ng-controller="CartCtrl">
	<div class="bar bar-header bar-light">
		<div class="icon ion-android-close"></div>
		<h1 class="title">Basket</h1>
	</div>
	<ion-content>
	<ion-list>
		<ion-item class="row" ng-model="cart" ng-repeat="product in cart.products" ng-class="{greybg:!($index % 2)}">
	        <div class="col col-100">
		        <div class="product cart row" >
			        <div class="col col-100">
				        <div class="category" ng-repeat="cat in product.category">{{cat}}</div>
				        <div class="title">{{product.name}}</div>
				        <div class="attributes">
					        <span class="label">Size:</span> <span class="value">{{product.attributes.size}}</span>
					        <span class="label">Color:</span> <span class="value">{{product.attributes.design.slug}}</span>
				        </div>
				        <div class="row">
					        <div class="col">
						        <div class="stockChange row">
							        <div class="col">
							        	<button class="button button-change" ng-click="removeCount(product)">-</button>
							        </div>
							        <div class="col">
							        	<button class="button button-dark button-clear">{{product.attributes.count}}</button>
							        </div>
							        <div class="col">
							        	<button class="button button-change" ng-click="addCount(product)">+</button>
							        </div>
						        </div>
					        </div>
					        <div class="col">
						        <div class="prices">
							        <div class="offer price">
								        <span class="float">{{ getRegularTotal(product) | float}}<br/>€</span>
								        <span class="int">{{ getRegularTotal(product) | integer}}</span>
							        </div>
							        <div class="price" >
								        <span class="float">{{ getTotal(product) | float }}<br/>€</span>
								        <span class="int">{{ getTotal(product) | integer }}</span>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </div>
	    	</div>
	    	<ion-option-button side="left" class="button-assertive icon ion-trash-a" ng-click="deleteItem(product)"></ion-option-button>
	    </ion-item>
	</ion-list>
	</ion-content>
	<div class="tabs">
	  <a class="tab-item col-75" ng-click="Close()">
	    Continue shopping
	  </a>
	  <a class="tab-item col-25">
	    Checkout >
	  </a>
	</div>
</ion-view>
