<ion-view  view-title=" "   class="modal cart cartmodal" ng-controller="CartCtrl">
	<div class="bar bar-header">
		
		<div class="right-nav">
	    	<div class="level">
		    	<span class="discount">-7%</span><span class="text">DISCOUNT<br/>LEVEL 4</span>
	    	</div>
	    	<div class="cart" ng-click="modal.show()">
		    	<img ng-src="img/nav-cart-white.png"/>
		    	<span class="items">{{cart.count}}</span>
		    	<span class="text">
		    		<span class="product nav">
		    			<div class="price" ng-model="cart">
						    <span class="float">{{cart.total | float}}<br/>&euro;</span>
						    <span class="int">{{cart.total | integer}}</span>
					    </div>
		    		</span>
				</span>
	    	</div>
		</div>
		
		<!--
		<div class="icon ion-android-close"></div>
		<h3 ng-model="cart" class="title">Count: {{cart.count}}, Total: {{cart.total}} &euro;</h3>
-->
	</div>
	<ion-content>
	<ion-list>
		<ion-item class="row" ng-model="cart" ng-repeat="product in cart.products" ng-class="{greybg:!($index % 2)}" show-reorder="true">
	        <div class="col col-100">
		        <div class="product cart row" >
				        <div class="xbutton"><img ng-src="img/xbutton.png"></div>
			        <div class="col col-100">
				        <!-- <div class="category"><span ng-repeat="cat in product.category">{{cat}} </span></div> -->
				        <div class="title">{{product.name}}</div>
				        <div class="attributes">
					        <span class="label">Size:</span> <span class="value">{{product.selected_attributes.size}}</span>
					        <span class="label">Color:</span> <span class="value">{{product.selected_attributes.design.slug}}</span>
				        </div>
				        <div class="row">
					        <div class="col">
						        <div class="stockChange row">
							        <div class="col">
							        	<button class="button button-change" ng-click="removeCount(product)">-</button>
							        </div>
							        <div class="col">
							        	<button class="button button-dark button-clear">{{product.selected_attributes.count}}</button>
							        </div>
							        <div class="col">
							        	<button class="button button-change" ng-click="addCount(product)">+</button>
							        </div>
						        </div>
					        </div>
					        <div class="col">
							        <div class="price" >
								        <span class="float">{{ getTotal(product) | float }}<br/>€</span>
								        <span class="int">{{ getTotal(product) | integer }}</span>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </div>
	    	</div>
	    	<ion-option-button side="left" class="button-assertive icon ion-trash-a" ng-click="deleteItem(product)"></ion-option-button>
	    </ion-item>
	</ion-list>
	</ion-content>
	<div class="tabs green">
	  <a class="tab-item col-60" ng-click="modal.hide()">
	    Continue shopping
	  </a>
	  <a class="tab-item col-35 checkout" ng-click="showCheckout()">
	    Checkout >
	  </a>
	</div>
</ion-view>
