<ion-view  view-title=" "   class="modal cart cartmodal" ng-controller="CartCtrl">
	<div class="bar">
		<i class="ion-ios-arrow-left"></i>
		<h3 class="title">BASKET</h3>
	</div>
	<ion-content>
	<ion-list>
		<ion-item class="row" ng-model="cart" ng-repeat="product in cart.products" ng-class="{greybg:!($index % 2)}" show-reorder="true">
	        <div class="col col-100">
		        <div class="product cart row" >
				        <div class="xbutton"><img ng-src="img/xbutton.png"></div>
			        <div class="col col-100">
				        <!-- <div class="category"><span ng-repeat="cat in product.category">{{cat}} </span></div> -->
				        <div class="title">{{product.name}}</div>
				        <div class="attributes">
					        <span class="label">Size:</span> <span class="value">{{product.selected_attributes.size}}</span>
					        <span class="label">Color:</span> <span class="value">{{product.selected_attributes.design.slug}}</span>
				        </div>
				        <div class="row">
					        <div class="col">
						        <div class="stockChange row">
							        <div class="col">
							        	<button class="button button-change" ng-click="removeCount(product)">-</button>
							        </div>
							        <div class="col">
							        	<button class="button button-dark button-clear">{{product.selected_attributes.count}}</button>
							        </div>
							        <div class="col">
							        	<button class="button button-change" ng-click="addCount(product)">+</button>
							        </div>
						        </div>
					        </div>
					        <div class="col">
							        <div class="price" >
								        <span class="float">{{ getTotal(product) | float }}<br/>&euro;</span>
								        <span class="int">{{ getTotal(product) | integer }}</span>
							        </div>
						        </div>
					        </div>
				        </div>
			        </div>
		        </div>
	    	</div>
	    	<ion-option-button side="left" class="button-assertive icon ion-trash-a" ng-click="deleteItem(product)"></ion-option-button>
	    </ion-item>
	</ion-list>

	</ion-content>
	<div id="cartmodal">
		<div id="discount" class="row">
		  <div>{{user_score.discount_percentage}}</div>
		  <h1>DISCOUNT LEVEL {{user_score.discount_level}}</h1>
		</div>
		<div class="row">
			<h2 id="discount" class="col col-70">Total price: </h2>
			<div class="price">
				<span class="int">33</span>
				<span class="float">40 &euro;</span>
			</div>
		</div>
	</div>
	<div class="tabs green">
	  <a class="tab-item col-60" ng-click="modal.hide()">
	    Continue shopping
	  </a>
	  <a class="tab-item col-35 checkout" ng-click="showCheckout()">
	    Checkout >
	  </a>
	</div>
</ion-view>
