<ion-view  view-title=" "   class="modal editProduct" ng-controller="editProductCtrl">
	<ion-content scroll="false">
    <div class="wrap row row-center">
      <div class="col">
        <div class="alertview" scroll="true">

					<div class="list list-inset">



          <div class="subtitle">Select options:</div>
					<label class="item item-input item-select">
              <div class="input-label">
                Size:
              </div>
              <select ng-model="product_options_size" ng-options="attribute.size for attribute in product.attributes" ng-change="size_changed(product_options_size)" ng-init="product_options_size = product.attributes[0]">
              </select>
            </label>
            <div class="designSelect">
              <!-- <div class="subtitle">Select design:</div> -->
              <div class="row" ng-model="$scope.current_designs" >
                <div class="col design" ng-repeat="design in current_designs" ng-click="designSelected(design)" ng-init="size_changed(product_options_size)"> <img ng-src="{{design.img}}"/> </div>
              </div>
            </div>
            <div class="row row-center">
	            <div class="col">
		            <div class="subtitle">Select quantity:</div>
	            </div>
	            <div class="col">
		            <div class="stockChange row">
		              <div class="">
		                <button class="button button-change" style="float: left;" ng-click="removeCount()">-</button>
		              </div>
		              <div class="col col-100" style="text-align: center;">
		                <button class="button button-dark button-clear" ng-model="$scope.quantity">{{quantity}}</button>
		              </div>
		              <div class="">
		                <button class="button button-change" style="float: right;" ng-click="addCount()">+</button>
		              </div>
		            </div>
	            </div>
            </div>
<!--
					<div class="button-bar quantity">
						<a class="button selected">1</a>
						<a class="button">2</a>
						<a class="button">3</a>
						<a class="button">4</a>
						<a class="button">5</a>
						<a class="button">></a>
					</div>
-->

          </div>
          <div class="buttons row">
            <div class="col">
                 <button ng-click="productEdit.hide()" class="button button-block repeat">Cancel</button>
            </div>
            <div class="col">
                 <button ng-click="addToCart()" class="button {{editProduct.btnColor}} button-block repeat">{{editProduct.btnTitle}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
	</ion-content>
  <ion-footer-bar align-title="left" keyboard-attach class="setbar">
    <h1 class="title">Select color</h1>
    <button class="button">set</button>
  </ion-footer-bar>
</ion-view>
