<ion-view view-title="Order"  id="orderView">
  <ion-content style="background-color: #f3f3f3; margin-bottom: 43px;" >

  	<div class="row orderinfo-wrap" style="text-align: center;">
	    <div class="order-box" style="border-bottom: 1px solid rgba(0,0,0,0.1); border-top: 3px solid #2b92ce;">
				<div class="row data">
			        <div class="col col-50" style="text-align: left">
				        <div class="title">Order id: 12345</div>
				        <div class="info"><i class="ion-ios-calendar-outline"></i> Order id: 12345</div>
				        <div class="info"><i class="ion-ios-box-outline"></i> Order id: 12345</div>
			        </div>
			        <div class="col col-50" style="text-align: right">
				        <div class="title">Total price</div>
				        <div class="price">
					        <span class="float">40<br/>€</span>
					        <span class="int">33</span>
				        </div>
			        </div>
		        </div>
			<div class="arrow-wrap"><div class="arrow"></div></div>
			</div>
  	</div>
	  	<div class="row"  ng-repeat="product in products" ng-if="$index % 2 === 0">
	        <div class="col col-50"   ng-if="$index < products.length">
		        <div class="product" >

			        <img ng-src="img/pufies-pack.png"/>
			        <div class="category">Shampoo</div>
			        <div class="title">All Nature Honey & Linden Blossom</div>
			        <div class="attributes">
				        <span class="label">Size:</span> <span class="value">Large</span>
				        <span class="label">Color:</span> <span class="value">blue</span>
			        </div>
			        <div class="prices">
				        <!-- <div class="offer price">
					        <span class="float">40<br/>€</span>
					        <span class="int">33</span>
				        </div> -->
				        <div class="price">
					        <span class="float">40<br/>€</span>
					        <span class="int">33</span>
				        </div>
			        </div>
		        </div>
	    	</div>
	        <div class="col col-50"  ng-if="$index+1 < products.length">
		        <div class="product">

			        <img ng-src="img/pufies-pack.png"/>
			        <div class="category">Shampoo</div>
			        <div class="title">All Nature Honey & Linden Blossom</div>
			        <div class="attributes">
				        <span class="label">Size:</span> <span class="value">Large</span>
				        <span class="label">Color:</span> <span class="value">blue</span>
			        </div>
			        <div class="prices">
				        <div class="offer price">
					        <span class="float">40<br/>€</span>
					        <span class="int">33</span>
				        </div>
				        <div class="price">
					        <span class="float">40<br/>€</span>
					        <span class="int">33</span>
				        </div>
			        </div>
		        </div>
	    	</div>
	    </div>
  </ion-content>
  		<a href="#/app/orders/repeatOrder/1234">
	    <div  class="bar bar-footer orange">
		  <div class="title">Repeat Order</div>
		</div>
  		</a>
</ion-view>
