<ion-view view-title="Order"  id="orderView">
  <ion-content style="background-color: #f3f3f3; margin-bottom: 43px;" >

  	<div class="row orderinfo-wrap" style="text-align: center;">
	    <div class="order-box" style="border-bottom: 1px solid rgba(0,0,0,0.1); border-top: 3px solid #2b92ce;">
				<div class="row data" ng-model="order">
			        <div class="col col-50" style="text-align: left">
				        <div class="title">Order id: {{order.order_id}}</div>
				        <div class="info"><i class="ion-ios-calendar-outline"></i> {{order.date}}</div>
				        <div class="info"><i class="ion-ios-box-outline"></i> {{order.shipped}}</div>
			        </div>
			        <div class="col col-50" style="text-align: right">
				        <div class="title">Total price</div>
				        <div class="price">
                  <span class="float">{{ order.total | float }}<br/>&euro;</span>
                  <span class="int">{{ order.total | integer }}</span>
				        </div>
			        </div>
		        </div>
			<div class="arrow-wrap"><div class="arrow"></div></div>
			</div>
  	</div>
	  	<div class="row"  ng-repeat="row in products">
	        <div class="col col-50"   ng-repeat="item in row">
		        <div class="product">
			        <img ng-src="{{item.img}}"/>
			        <div class="category"><span ng-repeat="cat in item.category">{{cat}} </span></div>
			        <div class="title">{{item.name}}</div>
              <div class="row details">
			        <div class="attributes col col-50">
				        <span class="label">Size:</span> <span class="value">{{item.selected_attributes.size}}</span>
				        <span class="label">Color:</span> <span class="value">{{item.selected_attributes.design.id}}</span>
                <span class="label">QTY:</span> <span class="value">{{item.selected_attributes.count}}</span>
              </div>
			        <div class="prices col col-50">
				        <div class="price">
                  <span class="float">{{ getTotal(item) | float }}<br/>&euro;</span>
                  <span class="int">{{ getTotal(item) | integer }}</span>
				        </div>
			        </div>
            </div>
		        </div>
	    	</div>

	    </div>
  </ion-content>
	    <div  class="bar bar-footer bar-stable">
		  <div class="title"></div>
		  </div>
</ion-view>
