<div id="score-wrap">
  <div id="score-chart" class="level-1 level-2 level-3 level-4 level-5">
    <div class="pie piece-1" data-start="180" data-value="60"></div>
    <div class="pie piece-2" data-start="240" data-value="51"></div>
    <div class="pie piece-3" data-start="291" data-value="51"></div>
    <div class="pie piece-4" data-start="342" data-value="51"></div>
    <div class="pie piece-5" data-start="33" data-value="51"></div>
    <div class="pie piece-6" data-start="84" data-value="51"></div>
    <div class="pie empty" data-start="135" data-value="90"></div>
    <div class="central">
      <div class="level-circle">
        <h1>-3%</h1>
        <h2>LEVEL {{score.discount_level}}</h2>
      </div>
      <p class="circle-text">150 EUR more<br>for next level!</p>
    </div>
    <div class="marker-current marker">{{score.discount_percentage}}</div>
    <div class="marker-final marker">-15%</div>
  </div>
  <h1 class="upgrade">You need {{score.points_left}} points to Level {{score.discount_level}}</h1>
  <p class="upgrade-text">Order products for {{score.money_to_promote}} EUR<br>to reach next level!</p>
</div>
