<ion-view view-title=" "  id="qCartContent">
	<ion-nav-buttons side="right">
		<div class="right-nav">
	    	<div class="level">
		    	<span class="discount">-7%</span><span class="text">DISCOUNT<br/>LEVEL 4</span>
	    	</div>
	    	<div class="cart" ng-click="modal.show()">
		    	<img ng-src="img/nav-cart-white.png"/>
		    	<span class="items">{{cart.count}}</span>
		    	<span class="text">
		    		<span class="product nav">
		    			<div class="price" ng-model="cart">
						    <span class="float">{{cart.total | float}}<br/>euro</span>
						    <span class="int">{{cart.total | integer}}</span>
					    </div>
		    		</span>
				</span>
	    	</div>
		</div>
    </ion-nav-buttons>
  <ion-content class="greybg" style="margin-bottom: 43px;" >

  	<div class="row wizardbar-wrap" style="text-align: center;">
	    <div class="wizardbar" style="display: inline-block !important;">
			<a class="wizardbar-item current">
				1 View cart
			</a>
			<a class="wizardbar-item" >
				2 Promotions
			</a>
			<a class="wizardbar-item" >
				3 Preview & payment
			</a>
		</div>
  	</div>
	  	<div class="row"  ng-repeat="row in products">
	        <div class="col col-50" ng-repeat="item in row">
		        <div class="product" >
			        <img ng-src="{{item.img}}"/>
			        <div class="category"> <span ng-repeat="cat in item.category">{{cat}} </span></div>
			        <div class="title">{{item.name}}</div>
			        <div class="prices">
				        <div class="offer price">
					        <span class="float">{{item.regular_price | float}}<br/>€</span>
					        <span class="int">{{item.regular_price | integer}}</span>
				        </div>
				        <div class="price">
					        <span class="float">{{item.price | float}}<br/>€</span>
					        <span class="int">{{item.price | integer}}</span>
				        </div>
			        </div>
			        <button ng-click="showEditProduct(item)" class="button add button-block repeat">Add to cart</button>
		        </div>
	    	</div>
	    </div>
  </ion-content>

	    <div ng-click="showOffers()" class="bar bar-footer green">
		  <div class="title">Next ></div>
		</div>

</ion-view>
