<ion-view hide-nav-bar="false">
  <ion-nav-buttons side="right">
		<div class="right-nav">
	    	<div class="level">
		    	<span class="discount">{{user_score.discount_percentage}}</span><span class="text">DISCOUNT<br/>LEVEL {{user_score.discount_level}}</span>
	    	</div>
	    	<div class="cart">
		    	<img ng-src="img/nav-cart-white.png"/>
		    	<span class="items">{{cart.count}}</span>
		    	<span class="text">
		    		<span class="product nav">
		    			<div class="price" ng-model="cart">
						    <span class="float">{{cart.total | float}}<br/>&euro;</span>
						    <span class="int">{{cart.total | integer}}</span>
					    </div>
		    		</span>
				</span>
	    	</div>
		</div>
  </ion-nav-buttons>
  <ion-content id="score">
    <div class="page-wrap">
    <user-score></user-score>
      <div class="bottom-section">
        <div class="banner-wrap">
          <div class="banner-left banner-part"></div>
          <div id="test" class="banner-days banner-part">{{score.days_left}} DAYS</div>
          <div class="banner-text banner-part">LEFT FOR PROMOTION</div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-bar-footer class="bar bar-footer bar-positive"></ion-bar-footer>
</ion-view>
