<ion-view hide-nav-bar="false">
  <ion-nav-buttons side="right">
		<div class="right-nav">
	    	<div class="level">
		    	<span class="discount">-7%</span><span class="text">DISCOUNT<br/>LEVEL 4</span>
	    	</div>
	    	<div class="cart" ng-click="modal.show()">
		    	<img ng-src="img/nav-cart-white.png"/>
		    	<span class="items">{{cart.count}}</span>
		    	<span class="text">
		    		<span class="product nav">
		    			<div class="price" ng-model="cart">
						    <span class="float">{{cart.total | float}}<br/>&euro;</span>
						    <span class="int">{{cart.total | integer}}</span>
					    </div>
		    		</span>
				</span>
	    	</div>
		</div>
  </ion-nav-buttons>
  <ion-content id="score">
    <div class="page-wrap">
      <div id="score-wrap">
        <div id="score-chart" class="level-1 level-2 level-3 level-4 level-5">
          <div class="pie piece-1" data-start="180" data-value="60"></div>
          <div class="pie piece-2" data-start="240" data-value="51"></div>
          <div class="pie piece-3" data-start="291" data-value="51"></div>
          <div class="pie piece-4" data-start="342" data-value="51"></div>
          <div class="pie piece-5" data-start="33" data-value="51"></div>
          <div class="pie piece-6" data-start="84" data-value="51"></div>
          <div class="pie empty" data-start="135" data-value="90"></div>
          <div class="central">
            <div class="level-circle">
              <h1>-3%</h1>
              <h2>LEVEL 3</h2>
            </div>
            <p class="circle-text">150 EUR more<br>for next level!</p>
          </div>
          <div class="marker-current marker">-10%</div>
          <div class="marker-final marker">-15%</div>
        </div>
        <h1 class="upgrade">You need 100 points to Level 5</h1>
        <p class="upgrade-text">Order products for 150 EUR<br>to reach next level!</p>
      </div>
      <div class="bottom-section">
        <div class="banner-wrap">
          <div class="banner-left banner-part"></div>
          <div id="test" class="banner-days banner-part">5 DAYS</div>
          <div class="banner-text banner-part">LEFT FOR PROMOTION</div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-bar-footer class="bar bar-footer bar-positive"></ion-bar-footer>
</ion-view>
<script>
  alert(document.getElementById("test").offsetHeight);
 jQuery(document).ready(function($) {
     $('.banner-text').css('color','#000');
 });

</script>
