<ion-view hide-nav-bar="true">
<!--   	<img style="position: absolute;width: 100%;min-height: 200px;" ng-src="img/dash-bg.png"/> -->
  <ion-content id="thank-you">
    <h1 class="title padding">THANK YOU, YOUR ORDER<br>IS ACCEPTED</h1>
    <p class="padding">We have recieved your request. Check you e-mail for confirmation message. For any questions contact us at +123 456 789</p>

    <div ng-model="user" id="reward-level" class="{{user.activeClass}}">
      <div class="reward-badge">
        <img ng-src="{{user.img}}" />
      </div>

      <h1 class="level-title"><strong class="percentage">{{user.discount_percentage}}</strong> LEVEL {{user.discount_level}}</h1>
      <div class="upgrade">{{user.money_to_promote}} EUR more for next level!</div>
      <div class="levels-row">
        <div class="stage stage-1">-1%</div>
        <span class="sep sep-2"><i class="ion-chevron-right"></i></span>
        <div class="stage stage-2">-3%</div>
        <span class="sep sep-3"><i class="ion-chevron-right"></i></span>
        <div class="stage stage-3">-5%</div>
        <span class="sep sep-4"><i class="ion-chevron-right"></i></span>
        <div class="stage stage-4">-7%</div>
        <span class="sep sep-5"><i class="ion-chevron-right"></i></span>
        <div class="stage stage-5">-10%</div>
        <span class="sep sep-6"><i class="ion-chevron-right"></i></span>
        <div class="stage stage-6">-15%</div>
      </div>
    </div>
  </ion-content>
  <ion-bar-footer class="bar bar-footer bar-positive"></ion-bar-footer>
</ion-view>
