/* Empty. Add your own CSS if you like */
/*
.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}



/* Login */


/*
ion-nav-bar.hide{
  display: inline !important;
}

ion-nav-bar.hide .nav-bar-block{
    transform: translate3d(0,-64px,0);
}
ion-nav-bar .nav-bar-block{
  transform: translate3d(0,0,0);
  transition: 0.5s transform ease;
}
*/


@-webkit-keyframes showKeyboardSmooth {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,-250px,0);
  }
}
@-webkit-keyframes hideKeyboardSmooth {
  0% {
    -webkit-transform: translate3d(0,-250px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


ion-header-bar{background: #3e5bad !important;}
ion-header-bar .title{color: white !important;}
ion-header-bar button{color: white !important;}

.hidden{display: none !important;}

#logindiv{
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	-webkit-transition: 500ms ease-in-out all;
	transition: 500ms ease-in-out all;
}
#logindiv .eyuplogo{
	-webkit-transition: 400ms ease-in-out all;
	transition: 400ms ease-in-out all;
}

#logindiv.showKeyboard{
   -webkit-animation: showKeyboardSmooth ease-in 1; 
  animation: showKeyboardSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}
#logindiv.hideKeyboard{
   -webkit-animation: hideKeyboardSmooth ease-in 1; 
  animation: hideKeyboardSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

#logindiv .eyuplogo{
	margin-bottom: 80px;
}

.input-mask{
	z-index: 100;
	position: absolute;
	/* height: 55px; */
	width: 100%;
}

/* Menu */
ion-item {
	height: 55px;
	border: none !important;
	background-color: #f4f4f4 !important;
}
ion-item a{
	background-color: transparent !important;
}
ion-item .item-content {
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
ion-item span{
	/*font-size: 25px;
	font-weight: 300;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;*/
	font-size: 25px;
	vertical-align:middle;
	line-height: 55px;
	display: inline-block;
	margin-left: 10px;
	/*
position: absolute;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	padding-top: 15px;
*/
}

ion-item img{
	vertical-align:middle;
	line-height: 55px;
	display: inline-block;
}

@media screen and (max-height : 500px) {
	
	label.item-input{
		height: 40px;
	}
	.login.bottommode .eyuplogo{
		margin-bottom: 30px;
	}
	.login.topmode .eyuplogo{
		visibility: hidden;
		height: 30px;
	}
}

/* dashboard */
#dash-content .dash-order-box{
	text-align: center;
	padding-top: 35px;
}
#dash-content .dash-order-box h1{
	padding-top: 30px;
	font-weight: 300;
	color: #092c4f;
}
#dash-content .dash-order-box .lines{
	width: 80%;
	margin-left: 10%;
	margin-top: 35px;
	position: absolute;
	border-top: 1px dashed #2b92ce;
}
#dash-content .dash-order-box .states{
	
}
#dash-content .dash-order-box .states .state{
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: 1px solid #2b92ce;
	margin: auto;
	position: relative;
}
#dash-content .dash-order-box .states .state img{
	height: 20px;
	margin-top:15px;
}
#dash-content .dash-order-box .states .state.active{
	background-color: #2b92ce;
}
#dash-content .dash-order-box .data{
	color: rgba(101, 100, 100, 1);
}
#dash-content .dash-order-box .data .title{
	font-size: 22px;
	font-weight: 300;
	margin-top: 10px;
}
#dash-content .dash-order-box .data .info{
	font-size: 16px;
	margin-top: 10px;
}
#dash-content .dash-order-box .data .price{
	margin-top: 25px;
	font-weight: 200;
	color: #2b92ce;
}
#dash-content .dash-order-box .data .price .int{
	font-size: 60px;
	float: right;
}
#dash-content .dash-order-box .data .price .float{
	float: right;
	font-size: 20px;
	line-height: 25px;
	margin-top: -15px;
	margin-left: 5px;
	text-align: left;
}
#dash-content .dash-order-box .button{
	margin-top: 20px;
	color: white;
	font-size: 20px;
	font-weight: 300;
}
#dash-content .dash-order-box .button.view{
	background-color: #3955a6;
}
#dash-content .dash-order-box .button.repeat{
	background-color: #ef451a;
}



/*Quick Cart*/
.row.wizardbar-wrap{
}
.wizardbar {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  margin: 15px 0;
  border: 1px solid #d9d9d9;
  /*border-right: 4px solid #d9d9d9;*/
  border-radius: 15px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
/*base item styles*/
.wizardbar-item {
  display: inline-block;
  padding: 0.8em 0.2em;
  padding-left: 1.4em;
  text-decoration: none;
  transition: all .15s;
  /*default styles*/
  background-color: white;
  color: #8f8f8f;
  text-align: center;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2); */
  position: relative;
  margin-right: -2px;
 /*
 border-top: 1px solid black;
  border-bottom: 1px solid black;
*/
}
/*arrow styles*/
.wizardbar-item:before,
.wizardbar-item:after {
  content: "";
  height: 0;
  width: 0;
  border-width: 1.3em 0 1.3em 1.0em;
  border-style: solid;
  transition: all .15s;
  position: absolute;
  left: 100%;
  top: 0;
}
/*arrow overlapping left side of item*/
.wizardbar-item:before {
  border-color: transparent transparent transparent #d9d9d9;
  left: 0;
}
/*arrow pointing out from right side of items*/
.wizardbar-item:after {
  border-color: transparent transparent transparent white;
  z-index: 1;
}
/*current item styles*/
.current.wizardbar-item {
  background-color: #2b92ce;
  color: white;
  cursor: default;
}
.current.wizardbar-item:after {
  border-color: transparent transparent transparent #2b92ce;
}
/*hover styles*/
.wizardbar-item:not(.current):hover {
  /* background-color: #2b92ce; */
}
.wizardbar-item:not(.current):hover:after {
  /* border-color: transparent transparent transparent #2b92ce; */
}
/*remove arrows from beginning and end*/
.wizardbar-item:first-of-type:before,
.wizardbar-item:last-of-type:after {
  border-color: transparent!important;
}
/*no inset arrow for first item*/
.wizardbar-item:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
  padding-left: 1.0em;
}
/*no protruding arrow for last item*/
.wizardbar-item:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
  padding-right: 1.0em;
}

/* products */


.product{
	background-color: #fff;
	text-align: center;
	padding: 10px;
}
.product img{
	margin-top: 10px;
	width: 90%;
}
.product .category{
	text-align: left;
	color: green;
	font-size: 12px;
}
.product .title{
	text-align: left;
	font-size: 16px;
	color: #092c4f;
	min-height: 40px;
}
.product .prices{
	text-align: right;
}
.product .price{
	margin-top: 25px;
	font-weight: 200;
	color: #2b92ce;
	display: inline-block;
}
.product .price .int{
	font-size: 30px;
	float: right;
}
.product .price .float{
	float: right;
	font-size: 15px;
	line-height: 15px;
	margin-top: -5px;
	text-align: left;
}
.product .price.offer{
	color: gray;
	margin-bottom: 4px;
	opacity: .5;
}
.product .price.offer .int{
	font-size: 25px;
}
.product .price.offer .float{
	font-size: 10px;
	line-height: 10px;
	margin-top: -0px;
}
.product button.button{
	background-color: #3e5bad;
	color: white;
}

#qCartContent .bar.bar-footer{
	background-color: #63ba3d;
	color: white;
}