/* Empty. Add your own CSS if you like */
/*
.center{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
*/

.button {border-radius: 0;}
.xbutton{
	position: absolute;
	right: 15px;
	width: 20px;
}
.xbutton img{
	width: 20px;
}

/* Login */


/* animations */


/*Scale-In Animation*/
.scale-in {
  transform: scale(0.9);
  opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  transform: scale(1);
  opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
  transition: all ease-in-out 250ms;
}

/*Scale-In Animation*/
.slide-right-left {
  transform: translate3d(100%,0,0);
  opacity: 1;
	width: 80%;
	margin-left: 20%;
	box-shadow: 0px 0px 100px 100px rgba(0,0,0,0.25);
}
.slide-right-left.ng-enter,
.slide-right-left> .ng-enter {
  transition: all 500ms;
}

.slide-right-left.ng-enter-active,
.slide-right-left > .ng-enter-active {
	width: 80%;
	margin-left: 20%;
	box-shadow: 0px 0px 100px 100px rgba(0,0,0,0.25);
  transform: translate3d(0,0,0);
  opacity: 1;
}

.slide-right-left.ng-leave,
.slide-right-left > .ng-leave {
  transform: translate3d(150%,0,0);
  transition: all ease-out 500ms;
  box-shadow: none;
  opacity: 1;
}

/*end animations*/

ion-nav-bar.hide{
  display: inline !important;
}

ion-nav-bar.hide .nav-bar-block{
    transform: translate3d(0,-64px,0);
}
ion-nav-bar .nav-bar-block{
  transform: translate3d(0,0,0);
  transition: 0.5s transform ease;
}



@-webkit-keyframes showKeyboardSmooth {
  0% {
    -webkit-transform: translate3d(0,0,0);
  }
  100% {
    -webkit-transform: translate3d(0,-250px,0);
  }
}
@-webkit-keyframes hideKeyboardSmooth {
  0% {
    -webkit-transform: translate3d(0,-250px,0);
  }
  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}


ion-header-bar{background: #3e5bad !important;}
ion-header-bar .title{color: white !important;}
ion-header-bar button{color: white !important;}

.hidden{display: none !important;}

#logindiv{
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	-webkit-transition: 500ms ease-in-out all;
	transition: 500ms ease-in-out all;
}
#logindiv .eyuplogo{
	-webkit-transition: 400ms ease-in-out all;
	transition: 400ms ease-in-out all;
}

#logindiv.showKeyboard{
   -webkit-animation: showKeyboardSmooth ease-in 1;
  animation: showKeyboardSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}
#logindiv.hideKeyboard{
   -webkit-animation: hideKeyboardSmooth ease-in 1;
  animation: hideKeyboardSmooth ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
}

#logindiv .eyuplogo{
	margin-bottom: 80px;
}

.input-mask{
	z-index: 100;
	position: absolute;
	/* height: 55px; */
	width: 100%;
}

/* Menu */
ion-side-menu ion-item {
	height: 55px;
	border: none !important;
	background-color: #f4f4f4 !important;
}
ion-side-menu ion-item a{
	background-color: transparent !important;
}
ion-side-menu ion-item .item-content {
	height: 55px;
	line-height: 55px;
	vertical-align: middle;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
ion-side-menu ion-item span{
	/*font-size: 25px;
	font-weight: 300;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 15px;*/
	font-size: 25px;
	vertical-align:middle;
	line-height: 55px;
	display: inline-block;
	margin-left: 10px;
	/*
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	padding-top: 15px;
	*/
}

ion-side-menu ion-item img{
	vertical-align:middle;
	line-height: 55px;
	display: inline-block;
}

@media screen and (max-height : 500px) {

	label.item-input{
		height: 40px;
	}
	.login.bottommode .eyuplogo{
		margin-bottom: 30px;
	}
	.login.topmode .eyuplogo{
		visibility: hidden;
		height: 30px;
	}
}

/* cart */
.cartmodal .bar{
	background-color: #3e5bad;
	padding: 5px;
}
.cartmodal .bar .right-nav{
	right: 0;
	position: absolute;
}

.cartmodal .bar .right-nav .items{
	width: 30px;
}
.cartmodal .bar .right-nav .product.nav .price{
	margin-left: 40px;
}
/*

.cart .bar .icon{
	font-size: 30px;
	color: #092c4f;
	margin-left: 10px;
	padding-top: 2px;
}
.cart .bar .title{
	text-align: right;
	font-size: 30px;
	font-weight: 300;
	color: #092c4f;
	margin-right: 15px;
}
*/
.greybg{background: #f0f0f0;}
.product.cart{
	border: none;
	margin: 0;
	padding:0;
	background: transparent;
}
.cartmodal .list {
	padding-top: 65px;
	padding-bottom: 50px;
}
.cart .item-complex{
	border: none;
}
.cart .item-content{
	padding: 0;
}
.cart .greybg .item-content{
	background: #f0f0f0;
}
.product.cart .title{
	font-size: 18px;
	min-height: 0;
}
.cart ion-item{padding: 0;}

.cart .product .price{
  margin-top: 0;
}
.cartmodal .tabs{
	padding: 0px;
}
.cartmodal .tabs .tab-item{
	font-size: 16px;
	background-color: rgba(255,255,255,0.15);
}
.cartmodal .tabs .checkout{
	font-weight: 500;
	background-color: transparent;
}

.stockChange{
	padding: 0;
	margin: 0;
	/*margin-top: 20px;*/
	background: #f0f0f0;
}
.greybg .stockChange{
	background: #ffffff;
}
.stockChange .col{
	padding: 0;
	margin: 0;
	width: 90%;
}
.stockChange button{
	min-width: 50px;
	min-height: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 0;
}
.stockChange button.button-change{
	color: white;
	background-color: #2c3f95;
	font-size: 20px;
	padding-top: 0px;
	font-weight: 100;
	width: 100%;
}
.editProduct ion-footer-bar{
  transition: opacity .5s;
  opacity: 0;
}
.keyboard-open .editProduct ion-footer-bar{
  opacity: 1;
}

@media (max-width: 400px) {

  .stockChange button{
    min-width: 25px;
  }
  .product.cart .title{ font-size: 13px; line-height: 16px; }
  .product.cart .category{ font-size: 10px; line-height: 14px; }
  .product.cart .attributes{ font-size: 12px; line-height: 14px; }
}

/* checkout */
.checkout .total{
  padding: 10px 5px;
  background-color: #d6d6d6;
}
.checkout .total .title{
  font-size: 20px;
  font-weight: 100;
}
.checkout .total .price{
  font-weight: 300;
  color: #202985;
}

.minprice span{
  font-weight: 300;
  color: #E3170D;
}

.checkout .total .price .int{
	font-size: 30px;
	float: right;
}
.checkout .total .price .float{
	float: right;
	font-size: 15px;
	line-height: 15px;
	margin-top: -5px;
	text-align: left;
}

.checkout .ordermin{
	text-align: center;
	
}
.checkout .ordermin .title{
	font-size: 80px;
	line-height: -0px;
}
.checkout .minorder{
	text-align: center;
	color: gray;
}
.checkout .shipping{
	padding: 10px 10px 10px 40px;
}
.checkout .shipping .title{
	font-size: 20px;
	font-weight: 300;
}
.checkout .shipping .value{
	font-weight: 200;
	padding-top: 10px;
}
.checkout .shipping .value img{
	position: absolute;
	max-width: 20px;
	max-height: 25px;
	margin-left: -30px;
	margin-top: -15px;
}

.checkout .pay_tabs .pay_tab{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	border: 1px solid #2b92ce;
	border-radius: 0;
}
.checkout .pay_tabs .pay_tab.selected{
	background-color: #2b92ce;
	border: 1px solid rgba(0,0,0,0.2);
	color: white;
}

.checkout .pay_tabs .pay_tab.selected .arrow-wrap{
	background-color: #2b92ce;
	height: 16px;
	width: 16px;
	position: absolute;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	margin-left: -8px;
	margin-top: -4.5px;

	border-bottom: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkout .pay_tabs .arrow-wrap .arrow{
/*
	border-right: 2px solid #2b92ce;
	border-bottom: 2px solid #2b92ce;
	position: absolute;
	left: 0px;
	right: 5px;
	top: 0px;
	bottom: 5px;
*/
}

.checkout .cashDetails p{
	text-align: center;
	margin-top: 10px;
}

i.ion-sad-outline{
	padding: 10px 10px 10px 10px;
	font-size: 20vh;
	color : #E3170D;
}

/* editProduct */

.editProduct {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
}
.editProduct .wrap{
  height: 100%;
  padding: 0;
}
.editProduct .wrap .col{
  padding: 0px;
}


/* alertview */
.editProduct .alertview{
  width: 90%;
  margin: auto;
  background-color: #ffffff;
}
.alertview .title{
  text-align: center;
  font-size: 26px;
  padding-top: 20px;
  font-weight: 200;
}
.alertview .subtitle{
  text-align: center;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 5px;
  font-weight: 200;
}

.alertview .quantity .selected{
  background-color: #3e5bad;
  color: #ffffff;
}

ion-footer-bar.setbar{
	background-color: #cbd1d9;
}
ion-footer-bar.setbar .title{
	text-align: center;
	font-weight: 300;
	width: 100%;
}
ion-footer-bar.setbar .button{
	width: 80px;
	background-color: #2e42a0;
	color: white;
	font-weight: 300;
	font-size: 16px;
}

@media (max-width: 400px) {

  .editProduct .alertview{
    width: 95%;
  }
  .alertview .title{
    font-size: 22px;
    padding-top: 15px;
  }
  .alertview .subtitle{
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 0px;
  }
}


/* designview */
.designSelect{
  margin-left: 0px;
  margin-right: 0px;
}
.designSelect .design{
  margin: 5px;
  margin-right: 10px;
  margin-left: 0px;
  padding: 0px;
  overflow: hidden;
  opacity: .8;
 }
 .designSelect .design img{
   border-radius: 90px;
   width: 100%;
   border: rgb(150, 150, 150) 3px solid;
 }
  .designSelect .design.selected{
      opacity: 1;
  }
 .designSelect .design.selected img{
   border-color: green;
 }
 .alertview .buttons{
   padding: 0;
 }
 .alertview .buttons .col{
   padding: 0;
 }
 .alertview .buttons button{
   padding: 0;
   margin: 0;
   border-radius: 0;
 }
/* navbar */
.right-nav{
	color: white;
	font-size: 12px;
	line-height: 12px;
}
.right-nav .level{display: inline-block;vertical-align: top; margin-right: 5px;}
.right-nav .cart{display: inline-block;vertical-align: top;}

.right-nav .level .discount{
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: rgba(255,255,255,1);
	color: #3e5bad;
	padding-top: 9px;
	text-align: center;
	font-weight: 600;
	font-size: 10px;
	float: left;
	margin-right: 5px;

}
.right-nav .cart .items{
	height: 30px;
	width: 20px;
	position: absolute;
	margin-top: 13px;
	text-align: center;
	color: #3e5bad;
}
.right-nav .cart img{
	position: absolute;
	width: 30px;
	height: 30px;
}
.right-nav .level .text{
	padding-top: 3px;
}

.right-nav .product.nav{
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: white;
	border: none;
}
.right-nav .product.nav .price{
	margin: 0;
	color: white;
	margin-left: 30px;
}
.right-nav .product.nav .price .int{
	margin-top: 10px;
	margin-right: 22px;
}
.right-nav .product.nav .price .float{
	padding-top: 12px;
	font-size: 12px;
	line-height: 10px;
	position: absolute;
	right: 0;
	width: 20px;
}

/* dashboard */
.dash-order-box{
	text-align: center;
	padding-top: 35px;
}
.dash-order-box h1{
	padding-top: 30px;
	font-weight: 300;
	color: #092c4f;
}
.dash-order-box .lines{
	width: 80%;
	margin-left: 10%;
	margin-top: 35px;
	position: absolute;
	border-top: 1px dashed #2b92ce;
}
.dash-order-box .states{

}
.dash-order-box .states .state{
	background-color: #fff;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: 1px solid #2b92ce;
	margin: auto;
	position: relative;
}
.dash-order-box .states .state img{
	height: 20px;
	margin-top:15px;
}
.order-box {
	background-color: white;
	width: 100%;
	margin: 5px;
}
.dash-order-box .states .state.active{
	background-color: #2b92ce;
}
.dash-order-box .data{
	color: rgba(101, 100, 100, 1);
}
.order-box .data{
	font-weight: 100;
}
.order-box .data .title{
	font-size: 22px;
	font-weight: 300;
	margin-top: 10px;
}
.order-box .data .info{
	font-size: 16px;
	margin-top: 10px;
}
.order-box .data .price{
	margin-top: 25px;
	font-weight: 200;
	color: #2b92ce;
}
.order-box .data .price .int{
	font-size: 60px;
	float: right;
}
.order-box .data .price .float{
	float: right;
	font-size: 20px;
	line-height: 25px;
	margin-top: -15px;
	margin-left: 5px;
	text-align: left;
}
.order-box .button{
	margin-top: 20px;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.order-box .button.view{
	background-color: #3955a6;
}
.order-box .button.repeat{
	background-color: #ef451a;
}
.order-box a{text-decoration: none;}

.platform-android .order-box .data .title{font-size: 18px;}
.platform-android .order-box .data .info{font-size: 14px;}
.platform-android .order-box .data .price .int{
	font-size: 50px;
	font-weight: 100;
}
.platform-android .right-nav .product.nav .price .float{}
.platform-android .order-box .button{font-size: 16px;}
@media (max-width: 400px) {
  .order-box .data .title{font-size: 18px;}
  .order-box .data .info{font-size: 14px;}
  .order-box .data .price .int{
  	font-size: 50px;
  	font-weight: 100;
  }
  .right-nav .product.nav .price .float{}
  .order-box .button{font-size: 16px;}
}

/*Quick Cart*/
.row.wizardbar-wrap{
}
.wizardbar {
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  display: inline-block;
  margin: 15px 0;
  border: 1px solid #d9d9d9;
  /*border-right: 4px solid #d9d9d9;*/
  border-radius: 15px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.platform-android .wizardbar {
	font-size: 10px;
}
@media (max-width: 400px) {
  .wizardbar {
  	font-size: 10px;
  }
}
/*base item styles*/
.wizardbar-item {
  display: inline-block;
  padding: 0.8em 0.2em;
  padding-left: 1.4em;
  text-decoration: none;
  transition: all .15s;
  /*default styles*/
  background-color: white;
  color: #8f8f8f;
  text-align: center;
  /* text-shadow: 1px 1px rgba(0, 0, 0, 0.2); */
  position: relative;
  margin-right: -2px;
 /*
 border-top: 1px solid black;
  border-bottom: 1px solid black;
*/
}
/*arrow styles*/
.wizardbar-item:before,
.wizardbar-item:after {
  content: "";
  height: 0;
  width: 0;
  border-width: 1.3em 0 1.3em 1.0em;
  border-style: solid;
  transition: all .15s;
  position: absolute;
  left: 100%;
  top: 0;
}
/*arrow overlapping left side of item*/
.wizardbar-item:before {
  border-color: transparent transparent transparent #d9d9d9;
  left: 0;
}
/*arrow pointing out from right side of items*/
.wizardbar-item:after {
  border-color: transparent transparent transparent white;
  z-index: 1;
}
/*current item styles*/
.current.wizardbar-item {
  background-color: #2b92ce;
  color: white;
  cursor: default;
}
.current.wizardbar-item:after {
  border-color: transparent transparent transparent #2b92ce;
}
/*hover styles*/
.wizardbar-item:not(.current):hover {
  /* background-color: #2b92ce; */
}
.wizardbar-item:not(.current):hover:after {
  /* border-color: transparent transparent transparent #2b92ce; */
}
/*remove arrows from beginning and end*/
.wizardbar-item:first-of-type:before,
.wizardbar-item:last-of-type:after {
  border-color: transparent!important;
}
/*no inset arrow for first item*/
.wizardbar-item:first-of-type {
  border-radius: 0.25em 0 0 0.25em;
  padding-left: 1.0em;
}
/*no protruding arrow for last item*/
.wizardbar-item:last-of-type {
  border-radius: 0 0.25em 0.25em 0;
  padding-right: 1.0em;
}

/* products */


.product{
	background-color: #fff;
	text-align: center;
	padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
	border: 1px solid rgba(0,0,0,0.1);
}
.product img{
	margin-top: 10px;
	width: 90%;
}
.product .category{
	text-align: left;
	color: green;
	font-size: 12px;
}
.product .title{
	text-align: left;
	font-size: 16px;
	color: #092c4f;
	min-height: 40px;
}
.product .attributes{
	float: left;
	text-align: left;
	font-weight: 100;
	color: rgb(150,150,150);
	margin-top: 5px;
}
.product .attributes .value{
	font-weight: 500;
	margin-right: 5px;
}
.product .prices{
	text-align: right;
}
.product .price{
	margin-top: 25px;
	font-weight: 200;
	color: #2b92ce;
	display: inline-block;
}
.product .price .int{
	font-size: 30px;
	float: right;
}
.product .price .float{
	float: right;
	font-size: 15px;
	line-height: 15px;
	margin-top: -5px;
	text-align: left;
}
.product .price.offer{
	color: gray;
	margin-bottom: 4px;
	opacity: .5;
}
.product .price.offer .int{
	font-size: 25px;
}
.product .price.offer .float{
	font-size: 10px;
	line-height: 10px;
	margin-top: -0px;
}
button.add, button.add:hover{
	background-color: #3e5bad;
	color: white;
}
.green{
	background-color: #63ba3d;
	color: white;
}
.orange{
	background-color: #e72d16;
	color: white;
}
.red-bordered{
	border-color: red;
	color: red;
}
.product.editable{

}
.product.editable .prices{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.product.editable .details{
	padding: 0;
	margin: 0;
}
.product.editable .details .attributes{
	font-size: 11px;
}
.product.editable .details .attributes .price{
	margin-top: 10px;
	font-weight: 400;
}

@media (max-width: 400px) {
  .product .title{
    font-size: 14px;
  }
  .product.editable .details .attributes{
  	font-size: 9px;
  }

  .product .price .int{
  	font-size: 25px;
  }
  .product .price .float{
  	font-size: 10px;
  }

  .product .price.offer .int{
  	font-size: 20px;
  	line-height: 15px;
  }
  .product .price.offer .float{
  	font-size: 9px;
  }
}


/* orders */
.orderinfo-wrap{
	margin-bottom: 10px;
}
.orderinfo-wrap .arrow-wrap{
	background-color: white;
	height: 16px;
	width: 16px;
	position: absolute;
	z-index: 100;
	margin-right: auto;
	margin-left: auto;
	left: 50%;
	margin-left: -8px;
	margin-top: -7.5px;

	border-bottom: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.orderinfo-wrap .arrow-wrap .arrow{
	border-right: 2px solid #2b92ce;
	border-bottom: 2px solid #2b92ce;
	position: absolute;
	left: 0px;
	right: 5px;
	top: 0px;
	bottom: 5px;
}


/* profile */
.profile .user-data{
	padding: 15px;
}
.profile .title{
	color: #0a203e;
	font-weight: 200;
	font-size: 35px;
}
.profile .label{
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 5px;
	margin-top: 20px;
	color: #4b4b4b;
}
.profile .value{
	color: #4b4b4b;
	font-weight: 100;
	padding-left: 30px;
}
.profile .value img{
	position: absolute;
	max-width: 20px;
	max-height: 25px;
	margin-left: -30px;
}
